# Telegram Bot Configuration
BOT_TOKEN=8657963715:AAHFuT8pg4Fv-l9eMpQCVovuZWOvUqtirz4
ADMIN_IDS=12345678,98765432
  # The Chat ID of your admin group

# Database (Default: SQLite for local, change to postgres for production)
DATABASE_URL=sqlite+aiosqlite:///support_bot.db

# Web Server (For Render / Health checks)
PORT=8080

# Logging
LOG_LEVEL=INFO
